<style>
  html, body {
    background: white;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    margin-top: 0;
    min-width: 320px;
    padding: 0;

    border-radius: 2px;
    background: #CCCFCC;
    box-shadow: 0 0 0 1px #CCCFCC;
  }

  li {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    padding: 6px;
    background: #F2F3F2;
  }


  li:hover {
    background: #E4E7E4;
  }

  li a {
    color: #555954;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 22px; /* 157.143% */
    text-decoration: none;
  }

  li a:hover {
    color: #1D211C;
  }
</style>

{%- liquid
  assign collection = collections['all']
  assign product = collection.products | last
-%}

<!-- components-list-vars -->

<ul>
  {% assign limit = component_names.size | minus: 1 %}
  {%- for i in (0..limit) -%}
    {%- liquid
      case component_categories[i]
        when '404'
          assign route = routes.root_url
        when 'article'
          assign route = article.url
        when 'blog'
          assign route = blog.url
        when 'cart'
          assign route = routes.cart_url
        when 'collection'
          assign sample_collection = collections | first
          assign route = sample_collection.url
        when 'customers/account'
          assign route = routes.account_url
        when 'customers/activate_account'
          assign route = routes.account_url
        when 'customers/addresses'
          assign route = routes.account_addresses_url
        when 'customers/login'
          assign route = routes.account_login_url
        when 'customers/order'
          assign route = customer.order_url
        when 'customers/register'
          assign route = routes.account_register_url
        when 'customers/reset_password'
          assign route = routes.account_recover_url
        when 'customers/order'
          assign route = order.order_status_url
        when 'gift_card'
          assign route = gift_card.url
        when 'index'
          assign route = routes.root_url
        when 'list-collections'
          assign route = routes.collections_url
        when 'page'
          assign route = page.url
        when 'password'
          assign route = routes.root_url
        when 'product'
          assign route = product.url
        when 'search'
          assign route = search.url
        else
          assign route = routes.root_url
      endcase
    -%}
    {% if component_categories[i] != 'product' or (component_categories[i] == 'product' and product != nil) %}
      <li><a href="{{ route }}?view={{ template_files[i] }}">{{ component_names[i] }}</a></li>
    {%- endif -%}
  {% endfor %}
</ul>
