<style>

  section.components-index {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex: 1 0 0;
    flex-flow: column wrap;
    padding: var(--space-6, 24px);
  }

  h2 {
    color: #1A1A1A;
    font-size: 18px;
    font-family: Inter, arial, sans-serif;
    font-weight: 600;
    line-height: 28px;
    margin: 2px 0 0 0;
  }


  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    margin-top: 0;
    min-width: 320px;
    padding: 0;

    border-radius: 2px;
    background: #CCCFCC;
    box-shadow: 0 0 0 1px #CCCFCC;
  }

  li {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    padding: 6px;
    background: #F2F3F2;
  }

  li:hover {
    background: #E4E7E4;
  }

  li a {
    color: #555954;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 22px; /* 157.143% */
    text-decoration: none;
  }

  li a:hover {
    color: #1D211C;
  }


</style>

{% liquid
  assign collection = collections['all']
  assign product = collection.products | last
%}

<!-- components-list-vars -->

<header>
  <h1>Component Directory</h1>
</header>

<section class="components-index">
  <h2>Index</h2>
  <ul>
    {%- for i in (0..component_names.size) -%}
      {%- liquid
        if component_categories[i] == 'index'
          assign route = routes.root_url
        elsif component_categories[i] == 'product'
          assign route = product.url
        endif
      -%}
      {% if component_categories[i] == 'index' or (component_categories[i] == 'product' and product != nil) %}
        <li><a href="{{ route }}?view={{ template_files[i] }}">{{ component_names[i] }}</a></li>
      {%- endif -%}
    {% endfor %}
  </ul>
</section>
