{% comment %} 
  This component is included in the fixture component.manifest.json with an @archetype-themes/test-collection value.
  It is meant to simulate a previously installed component that has since been removed from being referenced in the theme.
  An example of this would be an layout file previously had {% render 'removed' %} but has since been removed.
{% endcomment %}
<p>Simulating a removed component</p>