name: Publish NPM Package On New GitHub Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: latest
          registry-url: https://npm.pkg.github.com/
      - name: Clean install of NodeJS dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
      - name: Publish NPM Package on version change
        run: |
          REMOTE_VERSION=$(npm view @archetype-themes/archie version) # Replace with your GitHub username or org name and package name
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          
          echo "NPM Repository version: $(npm pkg get name):$REMOTE_VERSION"
          echo "Current Local version:  $(npm pkg get name):$CURRENT_VERSION"
          echo ""
          
          if [ "$CURRENT_VERSION" != "$REMOTE_VERSION" ]; then
            echo "New version detected. Publishing..."
            git tag $CURRENT_VERSION
            git push origin $CURRENT_VERSION
            npm publish
          else
            echo "No new version. Skipping publish."
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}